@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* configuraçoes de etilos de fonte */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* sudo class que me permite confiurar as coinas no dom do navegador */
:root {
  font-size: 62.5%; /*10 px*/
  font-family: "Source Serif 4", serif;
}
body {
  font-size: 1.6rem;
  color: #a54328;
}
main {
  max-width: 32rem;
  margin-inline: auto;
  padding: 5.6rem 4rem;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
img {
  width: 100%;
  margin-block: 3.2rem;
}

.recipe h1,
.ingredients h2 {
  font-weight: bold;
  font-size: 2.8rem;
  color: #a54328;
  line-height: normal;
}
.recipe p,
.ingredients strong,
.ingredients li {
  font-size: 2rem;
  color: #a54328;
  line-height: 2.5rem;
}
.ingredients h2 {
  margin-bottom: 3.2rem;
}
.ingredients ul,
.ingredients ol {
  padding-left: 2.4rem;
}
.ingredients ol {
  margin-bottom: 3.2rem;
}
.buttons {
  font-family: "Source Serif 4", serif;

  border-radius: 0.6rem;
  background: #a54328;
  border: 0;
  color: white;
  text-align: center;
  font-size: 1rem;

  display: flex;
  width: 9.5rem;
  height: 3.2rem;
  padding: 0.8rem 1.2rem;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;

  margin-top: 1.8rem;
}

/* tamanho de media considerado bom para entrar no modo desktop
o min indica que quando chegar no minimo de 1120 pixeis vai começar o modo desktop */
@media (min-width: 1120px) {
  body {
    /* url usado para passar uma img de fundo */
    background: url(<src/img/fundo-desktop.png>),
      lightgray 50% / cover no-repeat;
  }
  main {
    padding: 9rem 6rem;

    flex-direction: row;
    /* encaixe no tamanho do conteudo, isso o que a propriedade fit-content faz */
    max-width: fit-content;
    gap: 16rem;
  }
  .recipe {
    max-width: 43.5rem;
  }
  .ingredients {
    max-width: 52.5rem;
  }
  .recipe h1,
  .ingredients h2 {
    font-weight: bold;
    font-size: 4rem;
    color: #a54328;
    line-height: 5rem;
  }
  .recipe p,
  .ingredients strong,
  .ingredients li {
    font-size: 2rem;
    color: #a54328;
    line-height: 2.5rem;
  }

  .ingredients ul {
    margin-bottom: 3.2rem;
  }
  .buttons {
    display: flex;
    width: 13rem;
    height: 4rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    font-size: 1.4rem;
  }
}
